
h1{color: blueviolet; backgroundcolor: yellow;

}
h2 {color: chocolate; backgroundcolor: light blue;

}

h3 {color: darkblue; backgroundcolor: white;

} 

ol {list-style-type: circle;
  }
